numpy
pandas
tqdm
beautifulsoup4
requests
FastAPI
gdown
uvicorn
huggingface_hub
langchain-chroma==0.1.4
voyageai
langchain_voyageai
langchain_huggingface
pysqlite3==0.5.4 
psycopg2-binary==2.9.10
sqlalchemy
openai
pytest
pytest-mock